<div style="background-color: aquamarine;">
    <h2>Form Builder</h2>
    <form [formGroup]='profileFormUpdated' (ngSubmit)='onSubmitUpdated()'>
        <label for="firstName">firstName :</label>
        <input name='firstName' type='text' placeholder="Enter first name" formControlName='firstName' /><br><br>
        <label for="lastName">lastName :</label>
        <input name='lastName' type='text' placeholder="Enter last name" formControlName='lastName' /><br><br>
        <div formGroupName='address'>
            <h3>Address</h3>
            <label for="street">Street :</label>
            <input name='street' type='text' placeholder="Enter street" formControlName='street' /><br><br>
            <label for="city">City :</label>
            <input name='city' type='text' placeholder="Enter city" formControlName='city' /><br><br>
        </div>
        <div formArrayName='aliases'>
            <button (click)='addAlias()'>Add alias</button>
            <div *ngFor="let alias of aliases.controls;let i=index">
                <label>Alias {{i+1}}:</label>
                <input type='text' [formControlName]=i> &nbsp;&nbsp;
                <p>Status : {{alias.status}}</p>
            </div>
        </div>
        <button type="submit" [disabled]="!profileFormUpdated.valid">Submit</button>

    </form>
    <p>{{profileFormUpdated.getRawValue() | json }}</p>
    <p>Complete form: {{profileFormUpdated.statusChanges | async }}</p>
    <p>Address form: {{profileFormUpdated.controls['address'].statusChanges | async }}</p>
    <p>Aliases form: {{profileFormUpdated.controls['aliases'].statusChanges | async }}</p>

</div>


<div style="background-color: azure;">
    <h2>Form Control</h2>
    <label>Name:</label>
    <input name='name' placeholder="Enter name" [formControl]='name' />
    <p>value async : {{name.valueChanges | async}}</p>
    <p>value : {{name.value}}</p>
    <p>Status : {{name.statusChanges | async}}</p>
</div>

<div style="background-color: aliceblue;">
    <h2>Profile Form - Form Group</h2>
    <form [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
        <label for="firstName">firstName :</label>
        <input name='firstName' type='text' placeholder="Enter first name" formControlName='firstName' /><br><br>
        <label for="lastName">lastName :</label>
        <input name='lastName' type='text' placeholder="Enter last name" formControlName='lastName' /><br><br>
        <div formGroupName='address'>
            <h3>Address</h3>
            <label for="street">Street :</label>
            <input name='street' type='text' placeholder="Enter street" formControlName='street' /><br><br>
            <label for="city">City :</label>
            <input name='city' type='text' placeholder="Enter city" formControlName='city' /><br><br>
        </div>
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    <p>{{profileForm.getRawValue() | json }}</p>
    <p>Complete form: {{profileForm.statusChanges | async }}</p>
    <p>Address form: {{profileForm.controls['address'].statusChanges | async }}</p>
    <p>
        <button (click)="updateProfile()">Update Profile</button>
    </p>

</div>