<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/forms">Forms</a>
</nav>
<div style="padding-top: 10px;">
    <router-outlet></router-outlet>
</div>

<app-messages></app-messages>