<section *ngIf='hero'>

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>Id:</span>{{hero.id}}</div>
    <input type="text" [(ngModel)]="hero.name">

</section>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>