

<h2>Top Heroes</h2>
<div>
    <div *ngFor="let hero of heroes; index as i">
        <nav>
            <a routerLink='/detail/{{hero.id}}'>{{hero.name}}</a>
        </nav>
    </div>
</div>

<app-hero-search></app-hero-search>
