/* You can add global styles to this file, and also import other style files */

h1 {
    color    : #369;
    font-size: 250%;
}

h2,
h3 {
    font-weight: lighter;
    color      : #444;
}

body {
    margin: 2em;
}

body,
input[type='text'],
button {
    color      : #333;
    font-family: "Monaco", "Lucida Console", "Georgia";
}

* {
    /* font-family: Papyrus, "Courier New", sans-serif; */
    font-family: "Lucida Console", "Courier New", "Georgia";
}