.selected{
    background-color: rgb(53, 156, 156);
}


li {
    background-color: linen;
    padding: 8px 0px;
    border-radius: 4px;
    margin-bottom: 10px;
    width:200px
}
li :hover{
    background-color:yellowgreen;
}
.badge{
    padding: 8px 0px;
    border-radius: 4px;
    background-color: gainsboro;
    margin-right: 5px;
    text-align:center;
}