<div>
    <label>Hero name:
        <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
        add
    </button>
</div>

<div>
    <ul>
        <li *ngFor="let hero of heroes; index as i;">
            <a routerLink='/detail/{{hero.id}}'>
                <span class='badge'>{{hero.id}} </span>{{hero.name}}
            </a>
            <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
            <!-- <div [ngPlural]="hero.id">
                <ng-template ngPluralCase="=11">It is odd</ng-template>
                <ng-template ngPluralCase="ten">It is ten</ng-template>
                <ng-template ngPluralCase="few">there is few</ng-template>
                <ng-template ngPluralCase="many">there is many</ng-template>
                <ng-template ngPluralCase="other">there is other</ng-template>
            </div> -->
        </li>
    </ul>
</div>